.admin__header {
  width: 100%;
  background: var(--primary-color);
  padding: 20px 0px;
}
.admin__nav_top {
  width: 100%;
}
.admin___nav__wrapper_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 3rem;
}
.admin___nav__top_right img {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  cursor: pointer;
}
.admin___nav__wrapper_top .search__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.admin___nav__top_right span i {
  color: whitesmoke;
  cursor: pointer;
}
.admin___nav__wrapper_top .logo h2 {
  font-size: 1.2rem;
  color: whitesmoke;
}
.admin__menu {
  width: 100%;
  height: 70px;
  line-height: 70px;
  background-color: var(--card-bg-01);
}
.admin__navigation {
  text-align: center;
}
.admin__menu_list {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 3rem;
}
.admin__menu_list .admin__menu_item a {
  color: var(--primary-color);
  font-weight: 500;
  padding: 10px 15px;
  border-radius: 5px;
}
.active__admin_menu {
  background-color: whitesmoke;
}
.tr__img {
  width: 100%;
  height: 40px;
  object-fit: contain;
  border-radius: 5px;
}
.badge{
  background-color: var(--primary-color);
  padding: 4px 8px;
  font-weight: normal;
  cursor: pointer;
}