.table tr td img {
  width: 80px !important;
  height: 80px !important;
  object-fit: cover;
}
td span {
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .shop__btn {
    margin-bottom: 3rem;
  }
}